<script src="ui/toolbar/toolbar.service.ts"></script>
<mat-sidenav-container class="cw-sidenav-container">
  <mat-sidenav #sidenav align="start" [mode]="'over'" [opened]="false" class="cw-sidenav">
    <!-- Sidenav content -->
    <div>
      <div fxLayout="column" fxLayoutAlign="center center" class="cw-sidenav-user-area">
        <div>
          <mat-icon class="cw-sidenav-avatar" color="primary">account_circle</mat-icon>
        </div>
        <div>
          <span>Pekka Makkonen</span>
        </div>
      </div>
      <div>
        <span>Sidenav content</span>
      </div>
    </div>
  </mat-sidenav>

  <div fxFlexFill class="cw-sidenav-content">
    <cw-toolbar (MenuClick)="sidenav.toggle()"></cw-toolbar>
    <div class="cw-app-container">
      <!-- App -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
